*{
    box-sizing: border-box;
    margin: 0;
}

/* contenitore */
.contenitore{
    width: 1000px;
    background-color: #f6f8f9;
    margin: auto;
    border:2px solid #f6f8f9;
    
}

.main-cont{
    width: 800px;
    background-color: white;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* utility */
.linea-divisoria{
    padding: 10px;
    border-bottom:5px solid #f6f8f9;
}

details>summary {
    padding: 12px;
    padding-left: 20px;
}

details>p {
    padding: 8px;
}

div>button{
    border: 2px solid #c5cbd0;
    background-color: #ffffff;
    border-radius: 10%;
    font-size: 14px;
    text-align: center;
    padding: 4px 10px;
    color: #c5cbd0;
    cursor: pointer;
}

button:hover{
    background-color: #47adf1;
    color: white;
    border: none;
}
/* header  */

header{
    background-color: white;
    font-size: 26px;
    padding-left: 15px; 
    
}

